@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Long+Cang&family=Permanent+Marker&display=swap');

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
    
*{
    box-sizing:border-box;
    max-width:100%;
}

/*General Page Stlyes*/
html{
    font-size:62.5%;
}

body{
    font-size:2.5rem;
    line-height:1.5;
    font-family: 'Long Cang', cursive;
}

h1{
    font-size:5rem;
    font-family: 'Permanent Marker', cursive;
}

.headerContent{
    display:flex;
    flex-direction:column;
    text-align:center;
    margin-top:5%;
}

nav{
    display:flex;
    justify-content: center;
    margin-top:5%;

}

nav a{
    display:inline-block;
    border-radius:8px;
    padding:2%;

}

.black{
    background-color: black;
    color:white;

}

.white{
    background-color: white;
    color:black;
}

#Introduction{
    display:flex;
    flex-direction:column;
    text-align:center;
    margin-top:5%;
    margin-bottom:5%;

}
h2{
    font-size:4rem;
}

.Main-Image{
    display:flex;
    align-content: center;
    background-image:url("https://images.unsplash.com/photo-1528164344705-47542687000d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1369&q=80");
    height:50vh;
    background-size:cover;
    margin-bottom:12%;
    
}

#FinalProjects{
display:flex;
flex-wrap: nowrap;
padding:2%;
width: 25%;
justify-content: flex-start;
margin-top:2.5%;
} 

.img{
 padding:2%;   
}

h3{
    justify-content: center;
    text-align: center;
    padding-left:2%;

}

footer{
    background-color:grey;
}
    
.contactme{
    background-color: white;
    color: black;
}

